{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container h-100">
        <div class="col align-self-center">
            {{ form_start(mailForNewForm) }}
            {{ form_row(mailForNewForm.email,{label: 'Votre mail'}) }}
            <input type="submit" value="Envoyer le lien de réinitialisation">

            {{ form_end(mailForNewForm) }}
        </div>
    </div>

{% endblock %}
