{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="container h-100">
        <div class="col align-self-center">
            {{ form_start(newSetupPasswordForm) }}
            {{ form_row(newSetupPasswordForm.password) }}
            <input type="submit" value="Envoyer">

            {{ form_end(newSetupPasswordForm) }}
        </div>
    </div>

{% endblock %}
