{% extends 'base.html.twig' %}

{% block title %}nouveau mot de passe{% endblock %}

{% block body %}

    <div class="container full-height">
        <div class="row flex center v-center full-height">
            <div class="col-sm-12 offset-lg-1 col-lg-4 col-md-12 ">
                <div class="form-box">
                    {{ form_start(newSetupPasswordForm) }}
                    {{ form_row(newSetupPasswordForm.password) }}
                    <input type="submit" value="Envoyer">

                    {{ form_end(newSetupPasswordForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
