{% extends 'base.html.twig' %}

{% block title %}Hello FigureController!{% endblock %}

{% block body %}
<h1>{{ figure.name }}</h1>
    <p>
        <img src="{{ asset('uploads/figures/'~figure.images.first.name) }}" alt="{{ figure.images.first.name }}">
    </p>
    <p>
        {{ figure.content }}
    </p>
{% endblock %}
