{% extends 'base.html.twig' %}
   {% block title %}Hello world{% endblock %}
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}

{% block body %}<body>Bonjour mon chou</body><br>
    {% endblock %}

